.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 1px;
}
.place__link:hover {
  opacity: 0.8;
  transition: .3s linear;
}